<html ng-app="InstrumApp" >

<head>

    <link rel="icon"
          type="image/png"
          href="https://raw.githubusercontent.com/lukehalley/Instrum.io/master/public/favicon.ico">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular-route.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/controllers/instrumentalcontroller.js"></script>
    <script src="/javascripts/controllers/usercontroller.js"></script>

    <!--Heading for the homepage along with the Bootstrap styling css file-->
    <meta charset="UTF-8">
    <title>Instrum.io</title>

    <!-- CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Instrum.io</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="/dep/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="/dep/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="/dep/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Morris Chart Css-->
    <link href="/dep/plugins/morrisjs/morris.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="/dep/css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="/dep/css/themes/all-themes.css" rel="stylesheet" />

</head>

<body class="theme-grey" ng-controller="feedController">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Please wait...</p>
    </div>
</div>
<!-- #END# Page Loader -->

<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->

<!-- Search Bar -->
<div class="search-bar">
    <div class="search-icon">
        <i class="material-icons">search</i>
    </div>
    <input type="text" placeholder="What Type Of Track Are You Looking For?">
    <div class="close-search">
        <i class="material-icons">close</i>
    </div>
</div>
<!-- #END# Search Bar -->

<!-- Top Bar -->
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars"></a>
            <a class="navbar-brand" href="index.html">Instrum.io</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!-- Call Search -->
                <li><a href="javascript:void(0);" class="js-search" data-close="true"><i class="material-icons">search</i></a></li>

                <!-- #END# Call Search -->
            </ul>
        </div>
    </div>
</nav>
<!-- #Top Bar -->
<section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- User Info -->
        <div class="user-info">
            <div class="image">
                <img src="/dep/images/user.jpeg" width="80" height="80" alt="User" />
            </div>
        </div>
        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <li><a class="subheader">Browse Instrumentals</a></li>
                <li class="active">
                    <a href="#feed">
                        <i class="material-icons">queue_music</i>
                        <span>Feed</span>
                    </a>
                </li>
                <li>
                    <a href="#genre">
                        <i class="material-icons">hearing</i>
                        <span>Genre</span>
                    </a>
                </li>
                <li>
                    <a href="#charts">
                        <i class="material-icons">show_chart</i>
                        <span>Charts</span>
                    </a>
                </li>

                <li><a class="subheader">Your Instrumentals</a></li>
                <li class="active">
                    <a href="#uploaded">
                        <i class="material-icons">audiotrack</i>
                        <span>Uploaded Instrumentals</span>
                    </a>
                </li>
                <li>
                    <a href="#upload">
                        <i class="material-icons">cloud_upload</i>
                        <span>Upload</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- #Menu -->
        <!-- Footer -->
        <div class="legal">
            <b>Luke Halley</b>
        </div>
        <a class="btn btn-block btn-social btn-twitter">
            <span class="fa fa-twitter"></span> Sign in with Twitter
        </a>
        </div>
        <!-- #Footer -->
    </aside>
    <!-- #END# Left Sidebar -->
</section>

<!---------------------------------->
<!--CONTENT-->
<div id="main">
    <div ng-view> </div>
</div>
<!--END OF CONTENT-->
<!---------------------------------->

<!-- Jquery Core Js -->
<script src="/dep/plugins/jquery/jquery.min.js"></script>

<!-- Bootstrap Core Js -->
<script src="/dep/plugins/bootstrap/js/bootstrap.js"></script>

<!-- Select Plugin Js -->
<script src="/dep/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<!-- Slimscroll Plugin Js -->
<script src="/dep/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<!-- Waves Effect Plugin Js -->
<script src="/dep/plugins/node-waves/waves.js"></script>

<!-- Jquery CountTo Plugin Js -->
<script src="/dep/plugins/jquery-countto/jquery.countTo.js"></script>

<!-- Morris Plugin Js -->
<script src="/dep/plugins/raphael/raphael.min.js"></script>
<script src="/dep/plugins/morrisjs/morris.js"></script>

<!-- ChartJs -->
<script src="/dep/plugins/chartjs/Chart.bundle.js"></script>

<!-- Flot Charts Plugin Js -->
<script src="/dep/plugins/flot-charts/jquery.flot.js"></script>
<script src="/dep/plugins/flot-charts/jquery.flot.resize.js"></script>
<script src="/dep/plugins/flot-charts/jquery.flot.pie.js"></script>
<script src="/dep/plugins/flot-charts/jquery.flot.categories.js"></script>
<script src="/dep/plugins/flot-charts/jquery.flot.time.js"></script>

<!-- Sparkline Chart Plugin Js -->
<script src="/dep/plugins/jquery-sparkline/jquery.sparkline.js"></script>

<!-- Custom Js -->
<script src="/dep/js/admin.js"></script>
<script src="/dep/js/pages/index.js"></script>

<!-- Demo Js -->
<script src="/dep/js/demo.js"></script>

</body>

</html>