<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>Our Donation Web Service Routes</h2>
  <p>
    <li><b>GET/donations</b>  - return a list of donations and associated metadata</li>
    <li><b>POST /donations</b>  - create a new donation</li>
    <li><b>GET /donations/:id</b>  - return an individual donation with associated metadata</li>
    <li><b>PUT /donations/:id/upvote</b>  - upvote a donation, notice we use the donation ID in the URL</li>
    <li><b>DELETE /donations/:id</b>  - delete a donation by ID</li>

  </p>
  </body>
</html>
