<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<h2>Our Instrument Web Service Routes</h2>
  <p>
    <li><b>GET/instruments</b>  - return a list of instruments and associated metadata</li>
    <li><b>POST /instruments</b>  - create a new instrument</li>
    <li><b>GET /instruments/:id</b>  - return an individual instrument with associated metadata</li>
    <li><b>PUT /instruments/:id/purchases</b>  - purchases a instrument, notice we use the instrument ID in the URL</li>
    <li><b>DELETE /instruments/:id</b>  - delete a instrument by ID</li>

  </p>
</body>
</html>
