<section class="content">
	<!-- Default Media -->
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>
						Most Purchased
					</h2>
				</div>
				<div class="body">
					<div class="media">
						<div class="media-body">
							<h1 class="media-heading">Mars</h1 class="media-heading">
							<b>Produced By: </b> The Martianz<br />
							<b>Genre: </b> Trap<br />
							<b>BPM: </b> 170BPM
						</div>
						<div class="media-right">
							<a href="#">
								<img class="media-object" src="../dep/images/art/uzi.jpg" width="64" height="64">
							</a>
						</div>
					</div>
				</div>
				<div class="body">
					<div class="media">
						<div class="media-body">
							<h1 class="media-heading">Mars</h1 class="media-heading">
							<b>Produced By: </b> The Martianz<br />
							<b>Genre: </b> Trap<br />
							<b>BPM: </b> 170BPM
						</div>
						<div class="media-right">
							<a href="#">
								<img class="media-object" src="../dep/images/art/uzi.jpg" width="64" height="64">
							</a>
						</div>
					</div>
				</div>
				<div class="body">
					<div class="media">
						<div class="media-body">
							<h1 class="media-heading">Mars</h1 class="media-heading">
							<b>Produced By: </b> The Martianz<br />
							<b>Genre: </b> Trap<br />
							<b>BPM: </b> 170BPM
						</div>
						<div class="media-right">
							<a href="#">
								<img class="media-object" src="../dep/images/art/uzi.jpg" width="64" height="64">
							</a>
						</div>
					</div>
				</div>
				<div class="body">
					<div class="media">
						<div class="media-body">
							<h1 class="media-heading">Mars</h1 class="media-heading">
							<b>Produced By: </b> The Martianz<br />
							<b>Genre: </b> Trap<br />
							<b>BPM: </b> 170BPM
						</div>
						<div class="media-right">
							<a href="#">
								<img class="media-object" src="../dep/images/art/uzi.jpg" width="64" height="64">
							</a>
						</div>
					</div>
				</div>
				<div class="body">
					<div class="media">
						<div class="media-body">
							<h1 class="media-heading">Mars</h1 class="media-heading">
							<b>Produced By: </b> The Martianz<br />
							<b>Genre: </b> Trap<br />
							<b>BPM: </b> 170BPM
						</div>
						<div class="media-right">
							<a href="#">
								<img class="media-object" src="../dep/images/art/uzi.jpg" width="64" height="64">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="card ">
				<div class="header">
					<h2>
						Most Liked
					</h2>
				</div>
				<div class="body">
					<div class="media">
						<div class="media-body">
							<h1 class="media-heading">Mars</h1 class="media-heading">
							<b>Produced By: </b> The Martianz<br />
							<b>Genre: </b> Trap<br />
							<b>BPM: </b> 170BPM
						</div>
						<div class="media-right">
							<a href="#">
								<img class="media-object" src="../dep/images/art/uzi.jpg" width="64" height="64">
							</a>
						</div>
					</div>
				</div>
				<div class="body">
					<div class="media">
						<div class="media-body">
							<h1 class="media-heading">Mars</h1 class="media-heading">
							<b>Produced By: </b> The Martianz<br />
							<b>Genre: </b> Trap<br />
							<b>BPM: </b> 170BPM
						</div>
						<div class="media-right">
							<a href="#">
								<img class="media-object" src="../dep/images/art/uzi.jpg" width="64" height="64">
							</a>
						</div>
					</div>
				</div>
				<div class="body">
					<div class="media">
						<div class="media-body">
							<h1 class="media-heading">Mars</h1 class="media-heading">
							<b>Produced By: </b> The Martianz<br />
							<b>Genre: </b> Trap<br />
							<b>BPM: </b> 170BPM
						</div>
						<div class="media-right">
							<a href="#">
								<img class="media-object" src="../dep/images/art/uzi.jpg" width="64" height="64">
							</a>
						</div>
					</div>
				</div>
				<div class="body">
					<div class="media">
						<div class="media-body">
							<h1 class="media-heading">Mars</h1 class="media-heading">
							<b>Produced By: </b> The Martianz<br />
							<b>Genre: </b> Trap<br />
							<b>BPM: </b> 170BPM
						</div>
						<div class="media-right">
							<a href="#">
								<img class="media-object" src="../dep/images/art/uzi.jpg" width="64" height="64">
							</a>
						</div>
					</div>
				</div>
				<div class="body">
					<div class="media">
						<div class="media-body">
							<h1 class="media-heading">Mars</h1 class="media-heading">
							<b>Produced By: </b> The Martianz<br />
							<b>Genre: </b> Trap<br />
							<b>BPM: </b> 170BPM
						</div>
						<div class="media-right">
							<a href="#">
								<img class="media-object" src="../dep/images/art/uzi.jpg" width="64" height="64">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- #END# Default Media -->
</section>