<h2>Instrumental Routes:</h2>
<p>
<ul class="list-group">
	<li class="list-group-item list-group-item-success">POST / - instruments</b> - create a new instrumental with provided metadata</li>
	<li class="list-group-item list-group-item-info">GET / - instrumental - returns all current instrumentals stored in the database with their associated metadata</li>
	<li class="list-group-item list-group-item-info">GET / - instruments/:id</b> - return an individual instrumental with associated metadata</li>
	<li class="list-group-item list-group-item-warning">PUT / - instruments/:id</b> - updates an individual instrumental with provided metadata</li>
	<li class="list-group-item list-group-item-warning">PUT / - instruments/:id/purchases</b> - purchases an instrument, incrementing the "purchases" field</li>
	<li class="list-group-item list-group-item-danger">DELETE / - instruments/</b> - deletes all current instrumentals stored in the database</li>
	<li class="list-group-item list-group-item-danger">DELETE / - instruments/:id</b> - delete an individual instrumental by ID</li>
</ul>
</p>
