<section class="content">
	<!-- Custom Content -->
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>
						Most Purchased Instrumentals
					</h2>
				</div>
				<div ng-controller="purchasesController as list">
					<div class="body">
						<div class="row">
							<div class="col-sm-6 col-md-3" ng-repeat="instrumental in instrumentals">
								<div class="thumbnail" >
									<img src="../dep/images/art/uzi.jpg">
									<div class="caption">
										<h1>{{instrumental.title}}</h1>
										<h3>Tags: {{instrumental.tags}}</h3>
										<b>Produced By: </b> {{instrumental.owner}}<br />
										<b>Genre: </b> {{instrumental.genre}}<br />
										<b>BPM: </b> {{instrumental.bpm}}<br />
										<b>Purchases: </b> {{instrumental.purchases}}<br />
										<b>Upload Date: </b> {{instrumental.uploadDateISO}}<br />
										<h3> </h3>
										<button type="button" ng-click="likeInstrumental(instrumental._id)" class="btn bg-red waves-effect">
											<i class="material-icons">thumb_up</i>
											<span>Like:  {{instrumental.likes}}</span>
										</button>
										<button type="button" ng-click="purchaseInstrumental(instrumental._id)" class="btn bg-grey waves-effect">
											<i href="javascript:void(0);" class="material-icons">add_shopping_cart</i>
											<span>Purchase:  €{{instrumental.price}}</span>
										</button>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- #END# Custom Content -->
	</div>
</section>