<h2>User Routes:</h2>
<p>
<li class="list-group-item list-group-item-success">POST / users - create a new user with provided metadata</li>
<li class="list-group-item list-group-item-info">GET / user - returns all current users stored in the database with their associated metadata</li>
<li class="list-group-item list-group-item-info">GET / users/:id - return an individual user with associated metadata</li>
<li class="list-group-item list-group-item-warning">PUT / users/:id - updates an individual user with provided metadata</li>
<li class="list-group-item list-group-item-danger">DELETE / users/ - deletes all current users stored in the database</li>
<li class="list-group-item list-group-item-danger">DELETE / users/:id - delete an individual user by ID</li>
</p>
